
.no-space {
  height: 0px;
  padding: 0px;
  margin: 0px;
  }



 /* Responsive Mobile styles
  ========================================== */
  
  /* Esto significa, que si el ancho de la ventana es 800 O MENOS se aplica la propiedad especificada 
  @media screen and (max-width: 800px){
   body {
     background-color: salmon;  
   }
  }
  */
  
  /*  MOVILES  */
  @media screen and (max-width: 768px){

    .after-nav-margin {
      margin-top: 100px;
    }

    .valores {
      display: none;
    }

    .logo {
      width: 150px;
    }


    /* Class for section titles 
    .title {
      display: none;
    } 
    
    
    #home {
      height: 56vh;
    }
    
    #home h2 {
      font-size: 34px;
    }
    */
    /*
    .navbar-default {
      text-align: center;
    }
    
    .navbar-default .navbar-brand {
      line-height: 15px;
    }
    */
    }

    /* MOVILES  */
    @media screen and (min-width: 768px){
      /* Class for profesional and values section */
      

      .after-nav-margin {
        margin-top: 150px;
      }

      .valores-divided{
        display: none;
      }

      .logo {
        width: 250px;
      }
    }
    
    
    /*
    @media screen and (max-width: 992px){
       Class for profesional and values section 
     
    }*/
    
    /*@media screen and (min-width: 992px){
       Class for profesional and values section 
      
    }*/
    




/* preloader styles
  /* ========================================== */
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
  }
  
  .sk-spinner-pulse {
  width: 125px;
  height: 110px;
  background-color: #63c6ae; /* light green */
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }
  
  @-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }
  
  @keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }